.body {
    background: url("https://i.pinimg.com/originals/10/ea/49/10ea49a7218d7a9ddfeec8c6b1217891.gif"); filter: brightness(95%);
    color: white;   opacity: .9;
    font face: "Arial (sans-serif)";
    background-size: cover;
    background-repeat:no-repeat;
  background-position: center center;
text-shadow: 0 0 0.2em black;
display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
    
}
